<%= link_to 'Add activity', new_activity_path %>

<ul>
  <% @activities.each do |activity| %>
    <li>
      <%= activity.time.strftime('%H:%M') %>
      <%= activity.symbol %>
      <%= activity.note %>
    </li>
  <% end %>
</ul>
