{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ block "title" . }} Family Dashboard {{ end }}</title>

    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script src="static/javascript/main.js"></script>

    <link rel="stylesheet" href="static/stylesheets/normalize.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />

    <!-- Styles -->
    <!-- Scripts -->

    {{ block "scripts" . }} {{ end }}
  </head>
  <body>
    {{ template "content" . }}
  </body>
</html>

{{ end }}
