[Unit]
Description=Chromium Kiosk
Wants=graphical.target dashboard-app.service
After=graphical.target dashboard-app.service

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
ExecStart=/bin/bash /home/pi/leo-dashboard/kiosk/kiosk.sh
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=graphical.target
