[Unit]
Description=Dashboard server
Requires=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory={{dashboard_directory}}/app
ExecStart=/bin/bash {{dashboard_directory}}/app/start.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
