[Unit]
Description=Dashboard server
Requires=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory={{dashboard_app_directory}}
ExecStart=/bin/bash {{dashboard_app_directory}}/start.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
