<% content_for :scripts do %>
  <%= javascript_pack_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'time', 'data-turbolinks-track': 'reload' %>
<% end %>

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="dashboard"></div>
